.app {
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
}

.main-left {
    flex: 0.9;
}

.main-right {

}

.app-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.app-stats {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 990px) {
    .app {
        flex-direction: column;
    }
}



