.app {
    display: flex;
    justify-content: space-evenly;
    padding: 22px;
}

.main-left {
    flex: 0.9;
}

.main-right {
    display: flex;
    flex-direction: column;
}

.main-right .MuiCardContent-root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.line-chart-title{
    margin-top: 20px;
}

.line-chart-container {
    flex-grow: 1;
}

.app-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.app-stats {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 990px) {
    .app {
        flex-direction: column;
    }
}




