.data-box {
    flex: 1;
    cursor: pointer;
}

.data-box.recovered .data-box-cases {
    color: forestgreen;
}

.data-box.deaths .data-box-cases {
    color: black;
}

.data-box.cases .data-box-cases {
    color: #cc1034;
}

.data-box:not(:last-child) {
    margin-right: 10px;
}

.recovered.data-box-selected {
    border-top: 10px solid greenyellow;
}

.deaths.data-box-selected {
    border-top: 10px solid darkgray;
}

.cases.data-box-selected {
    border-top: 10px solid red;
}

.data-box-cases {
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.data-box-total {
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
}